<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <form method="post" th:action="@{'/user/' + ${id} +'/'+${userpost.id}+ '/imagePostSuccess'}" enctype="multipart/form-data">
            <label class="control-label">Select Image</label>
            <input id="imagefile" name="imagefile" type="file" class="file">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>