<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${loggedUserId} == 0">
                <li><a th:href="@{/user/signUp}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${loggedUserId} != 0">
                <li><a th:href="@{/user/logout}" ><span class="glyphicon glyphicon-log-out"></span> Log Out</a> </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <img src="../static/images/ayush.jpg" width="200" height="200" th:src="@{images/ayush.jpg}" />
    </div>
    <div class="container"  th:if="${loggedUserId} != 0">

        <div class="container-fluid" th:if="${#lists.size(allUserPosts)} != 0">

            <div class="panel panel-default mt-2" th:each="uniqUserPost : ${allUserPosts}">
                <input type="hidden" id="userPostId" name="userPostId" th:value="${uniqUserPost.id}" />
                <div class="panel-heading" th:text="${uniqUserPost.user.firstName}"> </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-body" th:text="${uniqUserPost.post}"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-body">
                                <img src="../../static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/user/' + ${uniqUserPost.user.id} + '/'+${uniqUserPost.id}+ '/userPostImage'}"
                                    width="200" height="200">
                            </div>
                        </div>
                        <label for="like">Like</label>
                        <input type="button" id="like" th:value="${uniqUserPost.likePressed}" onclick="increaseLikeValue()">
                    </div>
                </div>

        </div>
        </div>
    <div class="container" th:if="${loggedUserId} != 0">
        <div class="container">
            <form th:object="${userpost}" th:action="@{'/user/' + ${loggedUserId} + '/createPostSuccess'}" method="post">
                <div class="form-group">
                    <label for="newpost">Your post</label>
                    <textarea class="form-control" id="newpost" th:field="*{post}">
                        Write what is on your mind
                    </textarea>
                </div>
                <input type="submit" class="btn btn-primary">

            </form>
            <a th:href="@{'/user/' + ${loggedUserId} +'/createPost'}" class="btn btn-primary">Upload Image</a>

        </div>
    </div>

<script>



        function increaseLikeValue(){
           let userId = document.getElementById('userPostId').value;
          //  alert(userId);
            first_call_to_ajax(userId);
        }




        function first_call_to_ajax(userId) {
            let id_for_like = {};
            var json={
                'id': userId
            };

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "api/likeClick",
                data: JSON.stringify(json),
                dataType: 'text',
                cache: false,
                success: function (data){

                    document.getElementById("like").value = data;
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }




</script>

</body>
</html>